.container1 {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.MCQ {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.Section {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 30px;
  min-height: 100px;
}

fieldset {
  display: flex;
  flex-direction: column;
  padding: 30px;
  border: 2px solid #000;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  transition: box-shadow 0.3s;
}

fieldset:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

legend {
  padding: 5px;
  font-weight: bold;
  text-align: center;
}

.Section h3 {
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}

.Items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 15px;
  width: auto;
}

.item {
  padding: 10px 15px;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 4px 4px 4px #888888;
}

.Items.auto-fit {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
}
option{
    font-weight: bold;
}
